body {
  background-image: url("./assets/marsStars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 0 auto;
}

#canvas {
  border: 1px solid green;
  width: 800px;
  height: 600px;
  font-size: 30px;
  color: green;
}

a {
  color: white;
  text-decoration: none;
}

.loading {
  position: absolute;
  margin-left: 350px;
  margin-top: 300px;
  font-size: 30px;
  color: green;
}

.footer {
  padding-top: 30px;
  margin: auto;
  width: 320px;
  color: white;
  font-family: 'NTR';
  font-size: 16px;
}

.wrap {
  display: flex;
}

.gameButtons {
  background-size: 218px 72px;
  border-radius: 10px;
  display: block;
  margin: 30px;
  width: 220px;
  height: 75px;
  outline: 0;
}

.gameScreen {
  margin-left: 80px;
}

.yezhu {
  background-image: url("./assets/yezhu.png");
  background-size: 180px 180px;
  border-radius: 150px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.caterpillar {
  background-image: url("./assets/caterpillar.png");
}

.tetris {
  background-image: url("./assets/tetris.png");
}

.asteroid {
  background-image: url("./assets/asteroid.png");
}

.resume {
  background-image: url("./assets/resume.png");
}
