.snakeView {
  margin-top: 25px;
  margin-left: 10px;
  width: 800px;
  height: 600px;
  background-size: 820px 560px;
  background-repeat: no-repeat;
  background-image: url("./assets/leaf.jpg");
}

.snakeRow {
  display: flex;
}

.snakeUnit {
  width: 42px;
  height: 42px;
  margin: .5px;
  border-radius: 4px;
}

.snake {
  background-size: 45px 45px;
  background-position: center;
  background-image: url("./assets/earth.png");
  border-radius: 18px;
  padding: .5px;
  margin: 0px;
  box-shadow: 10px 10px 15px #004d00;
}

.head {
  background-size: 82px 92px;
  background-image: url("./assets/head.png");
}

.introPanel {
  /*margin-top: -1px;*/
  padding-top: 30px;
  background-color: rgba(0,255,255,0.3);
  width: 800px;
  height: 530px;
}

.snakeIntro {
  margin: 0 auto;
  background-image: url("./assets/intro.png");
  width: 600px;
  height: 280px;
  background-repeat: no-repeat;
}

.caterpillaricon {
  background-image: url("./assets/snake.png");
  width: 200px;
  height: 200px;
}

.bottom {
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: -2px 2px lightgreen;
  text-align: center;
}

.p1 {
  color: red;
  font-size: 18px;
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

.score {
  font-family: monospace;
  position: absolute;
  font-size: 20px;
  margin-left: 8px;
}


/* FRUITS */
.fruit {
  background-size: 42px 42px;
  background-position: center;
  border-radius: 30px;
}

.cat {
  background-image: url("./assets/cat.png");
  border-radius: 0px;
}

.peace {
  background-image: url("./assets/peace.png");
  border-radius: 0px;
}

.orangeFruit {
  background-image: url("./assets/fruit.png");
  background-size: 47px 47px;
}

.heart {
  background-image: url("./assets/heart.png");
  border-radius: 0px;
}

.mushroom {
  background-image: url("./assets/mushroom.png");
  background-size: 45px 42px;
  border-radius: 0px;
}

.flower {
  background-image: url("./assets/flower.png");
  background-size: 43px 43px;
}
